<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Homie Device Discovery</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-vue.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Homie Device Discovery</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto"></ul>
        <div id="client_status">
          <h3>
            <span :class="badge_appearance()" class="badge">{{ message }}</span>
          </h3>
        </div>
      </div>
    </nav>

    <main role="main" class="container-fluid">
      <div class="row" id="device">
        <div
          id="card-col"
          class="col-md-6 col-lg-4 col-xl-3"
          v-for="(device, index) in deviceList"
          v-bind:device="device"
        >
          <div class="card">
            <h6 class="card-header">
              {{ device.name }}
              <div class="float-right">
                  <b-badge
                    v-if="device.state === 'lost'"
                    href="#"
                    variant="danger"
                    @click="wipeDevice(device.id)"
                  >wipe</b-badge>
                  <b-badge
                    v-bind:variant="badge_appearance(device.state)"
                  >{{ device.state }}</b-badge>
              </div>
            </h6>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Devicde ID:
                <span class="float-right">{{ device.id }}</span>
              </li>
              <li class="list-group-item">
                Homie Version:
                <span class="float-right">{{ device.homie }}</span>
              </li>
              <li class="list-group-item">
                Firmware:
                <span
                  class="float-right"
                  v-b-popover.hover.bottomleft.v-info="device.implementation"
                  title="Implementation"
                  >{{ device.fw_name }} v{{ device.fw_version }}</span
                >
              </li>
              <li class="list-group-item">
                IP Address:
                <span
                  class="float-right"
                  v-b-popover.hover.bottomleft.v-info="device.mac"
                  title="MAC  Address"
                  >{{ device.localip }}</span
                >
              </li>
              <li class="list-group-item">
                Uptime:
                <span
                  class="float-right"
                  v-b-popover.hover.bottomleft.v-info="device.stats_interval + ' seconds'"
                  title="Stats interval"
                  >{{ timeSince(device.stats_uptime) }}</span
                >
              </li>
              <li class="list-group-item">
                Free heap:
                <span class="float-right">{{ device.stats_freeheap }}</span>
              </li>
            </ul>

            <div class="card-footer">
              <div
                class="card-text"
                v-for="(node, index) in device.nodes"
                v-bind:node="node"
              >
                <h6>Node: {{ node.name }}</h6>
                <p>
                  <ul class="list-group">
                    <li
                      class="list-group-item"
                      v-for="(property, index) in node.properties"
                      v-bind:property="property"
                    >
                      <span
                        v-b-popover.hover.bottomright.v-info="property.topic"
                        title="Topic"
                      >
                          {{ property.id }}:
                      </span>
                      <span class="float-right">
                        <!-- boolean datatype -->
                        <span
                          v-if="property.datatype === 'boolean' || property.datatype === 'bool'"
                        >
                          <b-form-checkbox
                            @change="toggle(property.topic, $event)"
                            v-model="property.state"
                            v-bind:id="device.id + node.name + property.id"
                            name="id"
                            value="true"
                            unchecked-value="false"
                            :disabled="property.settable === 'false'"
                            switch
                          >
                          </b-form-checkbox>
                        </span>

                        <span
                          v-else-if="property.datatype === 'color' && property.settable === 'true'"
                        >
                          <color-picker :value="stringToRGB(property.state)" @input="updateRGBColor(property.topic, $event)"></color-picker>
                        </span>

                        <span
                          v-else-if="property.datatype === 'enum' && property.settable === 'true'"
                        >
                          <b-form-select
                            v-model="property.state"
                            :options="formatToArray(property.format)"
                            size="sm"
                            @change="toggle(property.topic, $event)"
                          >
                          </b-form-select>
                        </span>

                        <span
                          v-else-if="property.settable === 'true'"
                          >
                            <b-form-input
                              v-model="property.state"
                              @input='updateInput(property.topic, $event)'
                            >
                            </b-form-input>
                        </span>

                      <!-- everything not catched above -->
                        <span
                          v-else
                          v-b-popover.hover.bottomleft.v-info="property.datatype + ' (' + property.format + ')'"
                          title="Datatype"
                        >
                          {{ property.state }}<span v-if="property.unit">{{ property.unit }}</span>
                        </span>
                      </span>
                    </li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="settings.js" type="text/javascript"></script>
    <script src="js/vue.min.js" type="text/javascript"></script>
    <script src="js/bootstrap-vue.min.js" type="text/javascript"></script>
    <script src="js/paho-mqtt.js" type="text/javascript"></script>
    <script src="js/vue-color.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
  </body>
</html>
